<div class="card mx-4 my-4">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item mx-2">
        <button class="btn btn-success" type="button">Conectar</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-warning" type="button">Desconectar</button>
      </li>
    </ul>
  </div>

  <div class="card-body" style="overflow-y:scroll; height: 360px  ;"></div>

  <div class="card-footer">
    <form class="form-inline">
      <div class="form-group my-2">
        <input type="text" class="form-control" placeholder="Envía un mensaje..." name="texto">
      </div>
      <button class="btn btn-primary" type="submit">Enviar</button>
    </form>
  </div>
</div>
